<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../Angular-files/angular.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS</title>
</head>
<!-- <body ng-app="ShoppingListPromiseApp">
    <h1>Promises and $q Service</h1>
    <img src="$qNotes.png" alt="syntax" height="400" width="600">
    <li>$q.all([...]) resolve multiple promises asynchronously. (parallely)</li>
    <div ng-controller="ShoppingListController as List">
        <h2>Shopping List</h2>
        <input type="text" ng-model="List.itemName" placeholder="Name">
        <input type="text" ng-model="List.itemQuantity" placeholder="Quantity">
        units
        <button ng-click="List.addItem();">Add Item</button>
        <ol>
            <li ng-repeat="item in List.items">
                {{item.quantity}} units of {{item.name}}
                <button ng-click="List.removeItem($index);">Remove Item</button>
            </li>
        </ol>
    </div>
    
</body> -->

    <body ng-app="MenuCategoriesApp">
        <h1>$http Service</h1>
        <div ng-controller="MenuCategoriesController as menu">
            <ol>
                <li ng-repeat="category in menu.categories;">
                    <a href="" ng-click="menu.logMenuForCategory(category.short_name);">({{category.short_name}})</a>
                    
                    {{category.name}}
                </li>
            </ol>
        </div>

        
    </body>
<script src="app.js"></script>
</html>